﻿@model UserViewModel
@{
ViewBag.Title = "Register User";
}

<h2>@ViewBag.Title</h2>

<!-- Register Form -->
<form asp-action="Add" method="post">
    @Html.AntiForgeryToken()

    <label for="new-username">Username:</label>
    <input type="text" id="new-username" name="Username" required />

    <label for="new-password">Password:</label>
    <input type="password" id="new-password" name="Password" required />

    <button type="submit">Register</button>
</form>

@if (TempData["Notification"] != null)
{
    <div class="alert alert-info">
        @TempData["Notification"]
    </div>
}