﻿@model UserViewModel
@{
    ViewBag.Title = "Login User";
}

<h2>@ViewBag.Title</h2>

@if (TempData["Notification"] != null)
{
    <div class="alert alert-info">
        @TempData["Notification"]
    </div>
}

<!-- Login Form -->
@* <form asp-action="Authenticate" method="post"> *@
@*     @Html.AntiForgeryToken() *@
@* *@
@*     <label for="username">Username:</label> *@
@*     <input type="text" id="username" name="Username" required/> *@
@* *@
@*     <label for="password">Password:</label> *@
@*     <input type="password" id="password" name="Password" required/> *@
@* *@
@*     <button type="submit">Login</button> *@
@* </form> *@

@if (TempData["IsAuthenticated"] == "true")
{
    <p>Navigate to:</p>
    <ul>
        <li>
            <a asp-area="" asp-controller="Employee" asp-action="Index">Employee Search</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Employee" asp-action="Add">Add Employee</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Employee" asp-action="Edit">Edit Employee</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Employee" asp-action="Delete">Delete Employee</a>
        </li>
    </ul>
}