﻿@model Netevia.Models.EmployeeViewModel

@{
    ViewBag.Title = "Delete Employee";
}

<h2>@ViewBag.Title</h2>

<form asp-action="Delete" method="post">
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </div>
</form>