﻿@model Netevia.Models.EditEmployeeViewModel

@{
    ViewBag.Title = "Edit Employee";
}

<h2>@ViewBag.Title</h2>

@Html.HiddenFor(model => model.Id)
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Add</legend>

        <p>
            First Name <br/>
            @Html.EditorFor(model => model.FirstName)
        </p>

        <p>
            Last Name <br/>
            @Html.EditorFor(model => model.LastName)
        </p>

        <p>
            Age <br/>
            @Html.EditorFor(model => model.Age)
        </p>
        <p>
            Gender <br/>
            @Html.EditorFor(model => model.Gender)
        </p>
        <p>
            Departments <br/>
            @Html.DropDownListFor(model => model.DepartmentId, ViewBag.Departments as SelectList)
        </p>
        <p>
            Experience <br/>
            @Html.DropDownListFor(m => m.ExperienceIds, ViewBag.ProgrammingLanguages as SelectList, new { multiple = "true" })
        </p>
        <p>
            <input type="submit" value="Редактировать"/>
        </p>
    </fieldset>
}