﻿@model IEnumerable<Netevia.Models.EmployeeViewModel>

@{
    ViewBag.Title = "Employee List";
}

<h2>@ViewBag.Title</h2>

<form asp-action="Index">
    <div class="form-group">
        <input type="text" name="searchString" placeholder="Search by name..." class="form-control"/>
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-default"/>
    </div>
    <div class="form-group">
        <a asp-area="" asp-controller="Employee" asp-action="Add">Add Employee</a>
    </div>
</form>

<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Department</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Age</td>
            <td>@item.Gender</td>
            <td>@item.Department.Name</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>